body {
  margin: 0;
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  width: 189px;
  height: 38px;
  border-radius: 10px;
}

.btn.btn-light.mr-1 {
  width: auto;
  background: none;
  border: none;
}

h3 {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  color: #3C5AA8;
}

th, td, h5, h6, .input-group-text, .form-control {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  color: #5D6D97;
}